*.*~
*.*.kate-swp

!.gitignore
!index.html

#Commonly modified files
/config.php
/admin/config.php

# Modification Files
/system/modification/*
!/system/modification/index.html

# Default user's php.ini name, if enabled in global php.ini.
# Our /php.ini can be copied or symlinked here, if you're using NginX+PHP-FPM.
.user.ini

# Apache's .htaccess. Our .htaccess.txt can be copied or symlinked here.
.htaccess

# dir, that can be used for backups and vqmod (if user will enable it).
backup
/vqgen/
/vqmod/vqmod.log
/vqmod/vqcache
/vqmod/mods.cache

# Themes
/catalog/view/theme/*
!/catalog/view/theme/default

/image/data/*
!/image/data/demo

# System Cache Files
/system/cache/*
!/system/cache/index.html

# Image File
!/image/no_image.jpg

# Image Cache Files
/image/cache/*
!/image/cache/index.html

# Templates Files
/image/templates/*
!/image/templates/default.jpg

# Download Files
/system/download/*
!/system/download/index.html

# Log Files
/system/logs/*
!/system/logs/index.html

# My local storage for "to be implemented" modules
/yummy_modules